<!-- start cta 2 -->
<section class="cta section-padding" style="background-image: url(../assets/images/gallery/image5.jpeg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="cta-block">
                    <h2 class="cta-title">
                        Get A free Quote 
                    </h2>
                    <a href="{{site.baseurl}}/contact/" class="btn btn-light">
                        Click For Quote 
                    </a>
                </div>
            </div><!--  ./col -->
        </div><!-- ./row -->
    </div><!--  ./container  -->
</section><!-- end cta 2 -->