
<div class="section section-padding">
    <div class="container">
        <div class="row gutter-30 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card-item">
                    <div class="thumb">
                        <img width="356" height="374" src="../assets/images/gallery/image9.jpeg" alt="Residential">
                    </div>
                    
                    <div class="content">
                        <h2 class="block-heading">
                            Residential
                        </h2>
                        <p>
                            Restore your home's curb appeal and health with professional exterior cleaning!
                        </p>
                        <ul class="card-list">
                            <li> Pressure cleaning</li>
                            <li> Soft wash</li>
                            <li> Roof cleaning</li>
                            <li> House wash</li>
                            <li> Driveways</li>
                            <li>Pool decks</li>
                            <li> Gutter cleaning</li>
                            <li> Paver sealing</li>
                            <li>Window washing</li>
                            <li>Fences</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card-item">
                    <div class="thumb">
                        <img width="356" height="374" src="../assets/images/gallery/image23.jpg" alt="Commercial">
                    </div>
                    
                    <div class="content">
                        <h2 class="block-heading">
                            Commercial
                        </h2>
                        <p>
                            Keep your clients and customers satisfied with our expertly refined services!
                        </p>
                        <ul class="card-list">
                            <li> Store front cleaning</li>
                            <li> Clubhouses</li>
                            <li> Walk ways</li>
                            <li> Gas station cleaning</li>
                            <li> Dumpster pad cleaning</li>
                            <li> Restaurants</li>
                            <li> Parking lot clean ups</li>
                            <li>Window washing</li>
                            <li>HOA's</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card-item">
                    <div class="thumb">
                        <img width="356" height="374" src="../assets/images/gallery/roof-sealing.webp" alt="Commercial">
                    </div>
                    
                    <div class="content">
                        <h2 class="block-heading">
                            Roof Sealing
                        </h2>
                        <p>
                            Keep your clients and customers satisfied with our expertly refined services!
                        </p>
                        <ul class="card-list">
                            <li> Mildew</li>
                            <li> Mold</li>
                            <li> Algae</li>
                            <li> Bacteria</li>
                            <li> Dirt and grime</li>
                            <div class="gap"></div>
                            <strong>From exterior surfaces like:</strong>
                            <li> Roofs</li>
                            <li> Siding (vinyl, stucco, wood)</li>
                            <li> Decks</li>
                            <li> Fences</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
