@use "sass:math";
/* Spacing Reset - Start
================================================== */
.section-space {
	padding: 140px 0;
}

// Margin & Padding
section, .section{ 
	position: relative;
}
@media (min-width: 1200px) {
	.page-title {
		font-size: 70px;
		margin-bottom: 20px;
	}
}

.section-padding {
	padding: 70px 0;
}

@media (min-width: 768px) {
	.section-padding {
		padding: 100px 0;
	}

}
// Gutter

@for $i from 1 through 7 {
  .gutter-#{$i}0 {
    margin-top: -(math.div($i * 10px, 2)) !important;
    margin-bottom: -(math.div($i * 10px, 2)) !important;

    > li,
    > div {
      padding-top: math.div($i * 10px, 2) !important;
      padding-bottom: math.div($i * 10px, 2) !important;
    }
  }
}


div[class*="col-"] {
	position: relative;
}
/* Spacing Reset - End
================================================== */