.hero-section {
    padding: 100px 0;
}
.banner {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark);
        opacity: 0.5;
    }
}
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    .banner-title {
        font-size: 38px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: var(--white);
    }
    .lead {
        color: var(--white);
    }
    .banner-sub-title {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 17px;
    }
}

.banner-inner {
    min-height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    .page-title {
        color: var(--white);
    }
}
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--white);
}

.breadcrumb-item {
    a {
        color: var(--white);
    }
    &.active {
        color: var(--white);
    }
}

@media (min-width: 992px) {
    .banner-content {
        .banner-title {
            font-size: 40px;
        }
        .banner-sub-title {
            font-size: 40px;
            line-height: 45px;
        }
        &.style2 {
            .desc {
                padding-right: 50px;
                text-align: justify;
            }
        }
    }
}

@media (min-width: 992px) {
    .banner-desc {
        font-size: 40px;
        font-weight: 300;
        line-height: 1.1;
    }
}

.quote-form {
    background-color: var(--white);
    padding: 30px;
    border-radius: 15px;
    .quote-title {
        font-size: 22px;
        text-transform: uppercase;
        // text-align: center;
        margin-bottom: 25px;
    }
    .minput {
        height: 50px;
        padding: 15px;
    }
    .inputmsg {
        min-height: 90px;
    }
    .service-options {
        label {
            padding-right: 10px;
            padding-bottom: 5px;
        }
    }
    .nav-tabs {
        border: none;
        .nav-item {
            margin-right: 10px;
        }
        .nav-link {
            border: 1px solid var(--primary);
            border-radius: 4px;
            color: var(--primary);
            position: relative;
            transition: all ease 0.3s;
            &::before {
                position: absolute;
                content: "\e91b";
                color: inherit;
                font-family: 'uicon';
                opacity: 0;
                visibility: hidden;
                left: 10px;
                transition: all ease 0.3s;
            }
            &.active {
                background-color: var(--primary);
                color: var(--white);
                padding-left: 30px;
                
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .quote-form {
        padding: 50px;
        .quote-title {
            font-size: 30px;
        }
    }
    
}