.filter-menu {
    display: inline-flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #B3B8BE;
    margin-bottom: 30px;
    li {
        padding: 8px 13px;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        cursor: pointer;
        text-transform: capitalize;
        &::after {
            position: absolute;
            content: "";
            inset: 0;
            margin: auto;
            bottom: -1px;
            width: 100%;
            height: 1px;
            background-color: #B3B8BE;
            top: auto;
            transition: all ease 0.3s;
        }
        &.active {
            &::after{
                visibility: visible;
                opacity: 1;
                width: 100%;
                height: 2px;
                background-color: var(--primary);
            }
        }
    }
}

.portfolio-single {
    .thumb {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all ease 0.4s;
            transition: all ease 0.4s;
        }
        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }
    }
    .view-btn {
        position: absolute;
        inset: 0;
        top: 20px;
        margin: auto;
        display: inline-block;
        width: 130px;
        height: 35px;
        background: var(--primary);
        margin: auto;
        text-align: center;
        padding: 7px 0;
        color: #fff;
        font-size: 16px;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.3s;
        z-index: 9;
    }
    &:hover {
        .thumb {
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .view-btn {
                opacity: 1;
                top: 0;
                visibility: visible;
            }
        }
    }
}