<section class="hero-section banner" style="background-image: url({{ page.banner_image | relURL }});">
    <div class="container">
        <div class="row align-items-center gutter-30 justify-content-between">
            <div class="col-md-7 order-md-first">
                <div class="banner-content">
                    <h1 class="banner-title">
                        Divine Property Maintenance. Your local and favorite Pressure washing company! Servicing St Lucie, Martin, Palm Beach and Surrounding Areas!    
                    </h1>
                    <div class="gap"></div>
                    <a href="{{site.baseurl}}/contact/" class="btn btn-light get-btn mb-4">Contact Us</a>

                </div>
            </div> <!-- ./col -->
            <div class="col-md-5">
                <form class="quote-form" action="https://formspree.io/f/xeojonyj" method="POST">
                    <h3 class="quote-title">Get a free quote</h3>
                    <div class="row gutter-30">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" name="full_name" class="minput form-control required" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" name="cf_email" class="minput form-control required" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" name="phone_number" class="minput form-control required" placeholder="Phone" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="cf_message" class="minput inputmsg form-control required" rows="3" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-12 mt-20">
                            <button type="submit" class="btn btn-primary">
                                Get Quote!
                            </button>
                        </div>
                    </div>                        
                </form>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./container -->
</section><!-- end hero section -->


<section class="section-padding">
    <div class="container">
    <div class="row gutter-30 justify-content-md-between align-items-center">
        <div class="col-lg-6">
            <div class="block-image">
                <img src="./assets/images/gallery/image35.jpg" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    Residential Pressure Washing & Exterior Cleaning
                </h2>
                <div class="gap"></div>
                <p class="block-desc">
                    Give your home the curb appeal it deserves. Our professional residential pressure washing and exterior cleaning services remove dirt, mold, mildew, and stains from siding, roofs, driveways, patios, and more. Whether you're preparing to sell or just want to revitalize your property’s appearance, we use safe, effective techniques to restore beauty and protect your investment. We also offer expert paver sealing to enhance durability and preserve that freshly cleaned look.
                </p>
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->


<section class="section-padding pt-0">
    <div class="container">
    <div class="row align-items-center gutter-30 justify-content-md-between">
        <div class="col-lg-6 order-md-last">
            <div class="block-image">
                <img src="./assets/images/gallery/image5.jpeg" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    Commercial Pressure Washing Solutions
                </h2>
                <div class="gap"></div>
                <p class="block-desc">
                    Make a lasting first impression with a clean and professional exterior. Our commercial pressure washing and exterior cleaning services are designed to meet the needs of storefronts, office buildings, apartment complexes, and industrial facilities. We remove grime, oil stains, graffiti, and more with powerful equipment and environmentally friendly cleaners. Our paver sealing services add long-term protection to high-traffic surfaces, helping you maintain a polished, professional image year-round.
                </p>
                
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->

<section class="section-padding pt-0">
    <div class="container">
    <div class="row align-items-center gutter-30 justify-content-md-between">
        <div class="col-lg-6 order-md-first">
            <div class="block-image">
                <img src="./assets/images/gallery/soft-washing.png" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    Soft washing: What is soft washing?
                </h2>
                <p class="block-desc">
                    Soft washing is a cleaning method that uses low-pressure water combined with specialized cleaning solutions to safely remove Mildew, Mold, Algae, Bacteria, Dirt, Grime and Pests.
                </p>
                
                <div class="gap"></div>
                
                <div class="d-md-flex justify-content-between">
                    <ul class="list">
                        <li> mildew</li>
                        <li> mold</li>
                        <li> algae</li>
                        <li> bacteria</li>
                        <li> dirt and grime</li>
                    </ul>
                    <ul class="list">
                        <strong>From exterior surfaces like:</strong>
                        <li>Roofs</li>
                        <li>Siding (vinyl, stucco, wood)</li>
                        <li>Decks</li>
                        <li>Fences</li>
                    </ul>
                </div>
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->

<section class="section-padding pt-0">
    <div class="container">
    <div class="row align-items-center gutter-30 justify-content-md-between">
        <div class="col-lg-6 order-md-last">
            <div class="block-image">
                <img src="./assets/images/gallery/roof-sealing.webp" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    Roof sealing: What is Roof Sealing?
                </h2>
                <div class="gap"></div>
                <p class="block-desc">
                    Roof sealing is the process of applying a protective coating to your roofs surface. Sealing a roof offers a variety of benefits that can improve the durability, energy efficiency, and overall performance of your home or building. 
                    Here are the main benefits:
                </p>
                
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->

<section class="section-padding sec-roof pt-0">
    <div class="container">
        <div class="row justify-content-center gutter-30">
            <div class="col-12">
                <h2>Here are the main benefits:</h2>
            </div>
            <div class="gap"></div>
            <div class="col-md-4">
                <div class="card-item">
                    <div class="content">
                        <h3>Extends Roof Life</h3>
                        <p> Protection from UV rays: Roof sealants help protect against sun damage, which can degrade roofing materials over time.</p>
                        <p> Prevents cracks and deterioration: Sealing helps stop minor cracks from expanding due to weather and wear.</p>
                        <p> Adds a protective layer: This reduces the impact of rain, hail, and debris.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card-item">
                    <div class="content">
                        <h3>Energy Efficiency</h3>
                        <p> <strong>Reflects sunlight (cool roof coatings):</strong> White or reflective sealants can lower roof temperatures and reduce cooling costs.</p>
                        <p> <strong>Improves insulation performance:</strong> A sealed roof minimizes air leaks, improving temperature regulation inside.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card-item">
                    <div class="content">
                        <h3>Cost Savings</h3>
                        <p> Reduces the time between cleaning intervals by up to 5 years</p>
                        <p> <strong>Avoids expensive repairs:</strong> Sealing can prevent major damage that would require costly fixes or a full roof replacement.</p>
                        <p> Lower utility bills: Energy savings due to better insulation and reflective properties.</p>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="card-item">
                    <div class="content">
                        <h3>Enhances Appearance</h3>
                        <p>A fresh coat of sealant can make an old roof look cleaner and more uniform. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-item">
                    <div class="content">
                        <h3>Adds Value to the Property</h3>
                        <p>A well-maintained, sealed roof is a good selling point for potential buyers or renters.</p>
                    </div>
                </div>
            </div>
        </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->
<hr>
<section class="section-padding">
    <div class="container">
    <div class="row align-items-center gutter-30 justify-content-md-between">
        <div class="col-lg-6">
            <div class="block-image">
                <img src="./assets/images/gallery/image40.jpg" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    Why Choose Us?
                </h2>
                <div class="gap"></div>
                <ul class="list">
                    <li> Fully licensed & insured</li>
                    <li> Family owned and operated</li>
                    <li> Friendly, reliable technicians</li>
                    <li> Competitive pricing & free estimates</li>
                    <li> Satisfaction guaranteed</li>
                </ul>
                
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->

<hr/>
<section class="section-padding">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <div class="block-content">
                <h2 class="block-heading">
                    Mission
                </h2>
                <p class="block-desc">
                    At Divine Property Maintenance, we are committed to delivering high-quality, reliable exterior cleaning services with a personal touch. As a family-owned business, we take pride in treating every property like our own—enhancing curb appeal, protecting surfaces, and building lasting relationships through honesty, hard work, and attention to detail.
                </p>
            </div>
            <div class="gap"></div>
            <div class="block-content">
                <h2 class="block-heading">
                    Vision
                </h2>
                <p class="block-desc">
                    To be the most trusted name in exterior cleaning by setting the standard for excellence, integrity, and care—one home, one business, and one neighborhood at a time.
                </p>
               
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->


{% include testimonial1.html %}

<section class="section section-padding">
    <div class="container">
       <div class="row gutter-30 text-center justify-content-center">
          <div class="col-md-8">
             <div class="block-content">
                <h2 class="block-heading">
                   <strong>Pressure Washing Done Right.</strong>
                </h2>
                <p class="lead">
                    Our team of professionals works relentlessly with one goal in mind. That is to exceed your expectations and help transform your home or business to a breathtaking level. 
                </p>
                <div class="gap"></div>
                <a href="{{site.baseurl}}/contact/" class="btn btn-primary">Book a Free Quote <i class="uicon uicon-chevronr"></i></a>
             </div>
          </div>
       </div>
    </div>
</section><!-- ./end section -->

{% include cta.html %}
